.block {
  border-radius: calc(var(--border-radius) * 2);
  padding: var(--margin);
  box-shadow: var(--box-shadow);
  // max-width: 90rem;
  // width: 100%;
  // overflow: hidden;
  transition: scale 0.25s ease-in-out;
  background: linear-gradient(
    135deg,
    rgb(var(--color-primary)),
    rgb(var(--color-background)),
  );

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  // width: calc(100% - var(--margin) * 5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .block__title {
    // margin-bottom: calc(var(--margin) * 2);
    font-size: 1.5rem;
    font-weight: 400;
  
    // @media (max-width: 622px) {
    //   font-size: 3.6vw;
    // }
  }

  // .block__subtitle {
  //   -webkit-mask-image: linear-gradient(
  //     90deg,
  //     rgb(var(--color-active)),
  //     rgb(var(--color-background)),
  //   );
  //   mask-image: linear-gradient(
  //     90deg,
  //     rgb(var(--color-active)),
  //     rgb(var(--color-background)),
  //   );
  // }
}
