.block {
  border-radius: var(--border-radius);
  padding: var(--margin);
  box-shadow: var(--box-shadow);
  width: 100%;
  background: linear-gradient(
    135deg,
    rgb(var(--color-primary)),
    rgb(var(--color-background)),
  );
  
  & * {
    background: none;
  }

  & > h1::first-letter {
    color: rgb(var(--color-active));
    text-shadow: 0 0 4px rgb(var(--color-active));
  }
}
