.block {
  border-radius: var(--border-radius);
  padding: var(--margin);
  box-shadow: var(--box-shadow);
  max-width: 90rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: scale 0.25s ease-in-out;

  h1::first-letter {
    color: rgb(var(--color-active));
    text-shadow: 0 0 4px rgb(var(--color-active));
    z-index: 10000;
  }

  .block__particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .block__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: linear-gradient(
      135deg,
      rgb(var(--color-primary)),
      rgb(var(--color-background)),
    );
  }

  &:hover {
    scale: 1.025;
  }
}
