@mixin line_animation {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(var(--color-active)),
    rgba(var(--color-background), 0)
  );
  animation: underline 10s infinite linear;
  background-size: 200% 100%;
  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.line_animation {
  margin-top: var(--margin);
  @include line_animation;

  &::before {
    content: '';
    display: block;
    filter: blur(5px);
    @include line_animation;
  }
}

@keyframes underline {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000% 0;
  }
}
