.mask {
  width: 100%;
  position: relative;

  .mask__text {
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    background: linear-gradient(
      90deg,
      #1ED183,
      #71ECCE,
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
