.description__summary {
  font-size: 1rem;
  font-weight: 200;
  // line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 1.5rem;

  // li {
  //   // color: rgb(var(--color-active));
  //   left: 0;
  // }

  // @media (max-width: 622px) {
    // font-size: 5vw;
  // }
}
  