#content {
  padding: calc(var(--header-size) + var(--margin));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin);
}

@media (max-width: 768px) {
  #content {
    padding: calc(var(--header-size) + var(--margin)) var(--margin);
  }
}
