#content {
  padding:
    calc(var(--header-size) + var(--margin) * 2)
    var(--margin) var(--margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--margin) * 2);
}
