#footer {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-text));
  text-align: center;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  bottom: 0;
  height: var(--header-size);
  position: absolute;
  left: 0;
  right: 0;

  * {
    background-color: transparent;
  }
}