#footer {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-text));
  text-align: center;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: var(--header-size);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--header-size);

  * {
    font-size: 0.8rem;
  }
}