.header {
  position: fixed;
  width: 100%;
  background-color: rgba(var(--color-primary), 0.8);
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: var(--margin);
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  box-shadow: var(--box-shadow);
  height: var(--header-size);

  & > * {
    width: var(--size);
    height: var(--size);
    background-color: rgb(var(--color-primary));
    border-radius: var(--border-radius);
    animation: iconsAnimation 0.75s ease-in-out forwards;
    transform: translateY(-125%);
    opacity: 0;
  }

  @keyframes iconsAnimation {
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.header__nav-links {
  align-items: center;
  display: flex;
  width: 50%;
  min-width: 0;
  background-color: transparent;
  gap: var(--margin);

  & > a {
    color: rgb(var(--color-text));
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0;

    &:hover {
      color: rgb(var(--color-active));
    }

    &.header__active {
      background-color: rgb(var(--color-active));
      color: rgb(var(--color-primary));
    }
  }

  @media (max-width: 768px) {
    display: none;
  }

  @for $i from 1 through 5 {
    :nth-child(#{$i}) {
      animation: navAnimation 0.75s ease-in-out #{$i * 0.2}s forwards;
    }
  }

  @keyframes navAnimation {
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.header__settings {
  width: calc(var(--size) * 0.75);
  
  > g {
    transition: all 1s ease;
    fill: rgb(var(--color-text));
    cursor: pointer;
    pointer-events: bounding-box;
    transform-box: fill-box;
    transform-origin: center;

    &:hover {
      fill: rgb(var(--color-active));
      rotate: 180deg;
    }
  }
}
