@mixin menu_settings {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(var(--color-background));
  width: 50%;
  height: 50%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  z-index: 1000;
  overflow: hidden;
  padding: var(--margin);

  & > * {
    background-color: rgb(var(--color-background));
  }

  & > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.settings {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: all 0.5s ease;
  backdrop-filter: none;
  background-color: transparent;

  &.show {
    display: block;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.25);
    animation: settings 0.5s ease;

    > .settings__menu {
      @include menu_settings;
      animation: menu_in 0.4s ease;
    }
  }

  &.hiding {
    display: block;
    backdrop-filter: none;
    background-color: transparent;

    > .settings__menu {
      @include menu_settings;
      animation: menu_out 0.501s ease;
    }
  }

  @keyframes settings {
    0% {
      backdrop-filter: none;
      background-color: transparent;
    }
    100% {
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  @keyframes menu_in {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.75);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @keyframes menu_out {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.75);
    }
  }
}

.settings__exit {
  position: absolute;
  padding: inherit;
  top: 0;
  right: 0;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  fill: rgb(var(--color-text));

  &:active {
    fill: rgb(var(--color-active));
  }
}

.settings__item {
  display: flex;
  flex-direction: column;
  padding: var(--margin);

  > h2 {
    padding: var(--margin);
  }
}
