@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgb(35, 35, 35);
    --color-background: rgb(25, 25, 25);
    --color-text: rgb(220, 220, 220);
    --color-active: rgb(26, 180, 126);
  }
}