.block-content {
  padding: var(--margin);
  background-color: var(--color-primary);
  border-radius: calc(var(--border-radius) * 5);
  margin-bottom: var(--margin);
}

.block-content > * {
  background-color: inherit;
}

.block-content > * > *{
  background-color: inherit;
}

.block-content h1 {
  transform: translateX(-50%);
  padding-left: 50%;
}