#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--size) + var(--margin) * 2);
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: var(--margin);
  box-sizing: border-box;
}

#header > * {
  width: var(--size);
  height: var(--size);
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}

#header .links {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: var(--color-primary);
  width: 60%;
}

#header .links a {
  color: var(--color-text);
  transition: all 0.3s ease;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  padding: var(--margin);
}

#header .links a:hover {
  background-color: var(--color-background);
  color: var(--color-active);
}

#header .links a.active {
  background-color: var(--color-active);
  color: var(--color-primary);
}

#header .theme-btn #theme {
  transition: all 0.3s ease;
  fill: var(--color-text);
}

#header .theme-btn #theme:hover {
  fill: var(--color-active);
}

@media (max-width: 768px) {
  #header > * {
    display: none;
  }
}